$blue: #0747a6;
/**** Boorstrap overrides */
.nav-link {
}
.dropdown-menu {
    border-radius: 0px;

    border: $blue 1px solid;

    a {
        transition: all 0.2s ease-in;
        &:hover {
            background: $blue;
            color: white;
        }
    }
}

/** */

html,
body {
    height: 100%;
    background: #ffffff !important;
}
.login {
    background: #0747a6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .login-form {
        background: white;
        height: 40vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.form-control {
    border-radius: 0px;
    &:focus {
        box-shadow: none;
    }
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.modal-90w {
    max-width: 100vw;
    width: 75vw !important;
}

.notification {
    &.alert-success {
        background-color: #0747a6;
        color: white;
        box-shadow: 3px 3px 10px black;
        border: none;
        border-radius: 0px;
    }
    &.alert-danger {
        background: #b81a1a;
        color: white;
        box-shadow: 3px 3px 10px black;
        border: none;
        border-radius: 0px;
    }
    width: 100%;
    margin-bottom: 10px;

    height: 100px;
}

.notification-wrapper {
    width: 320px;
    position: absolute;
    bottom: 10px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-top: 10px;
}

.react-datepicker__header {
    background: orange !important;
    .react-datepicker__current-month {
        color: white;
    }
    .react-datepicker__day-name {
        color: white !important;
    }
}

.complex-table {
    th {
        vertical-align: middle !important;
        text-align: center;
    }
}

.conversions {
    border: black 1px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
    margin-top: 10px;
    p {
        font-size: 0.8em;
        margin-bottom: 0px;
    }
}
/* Refactored components */
.custom-card {
    border-radius: 0px;
    border: yellow 2px solid;
    .card-header {
        border-radius: 0px;
    }
}

.page-item {
    
    &.active {
        background-color: white!important;
        .page-link {
            background-color: $blue;
            color: white;
        }
    }
    
}
